# Compiled source
*.class
*.so
/build/
/bin/

# Log file
*.log
joystickDump.txt

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#IDE file
*.idea
*.project
*.classpath
*.eclipse
/.settings/
/.gradle/

# Keep external libs
!lib/**

