image: gradle:8-jdk

# To parallelise actions
stages:
  - compile
  - unitTests
  - clean
  - pack

# To implement the different stages
gradle-compileJava:
  when: on_success
  stage: compile
  script: 
    - echo "Compilation"
    - "gradle compileJava"

gradle-test:
  when: on_success
  stage: unitTests
  script: 
    - echo "Unit Tests"
    - "gradle test"
    
gradle-clean:
  when: on_failure
  stage: clean
  script: 
    - echo "Cleaning"
    - "gradle clean"

gradle-jar:
  when: on_success
  stage: pack
  script: 
    - echo "Jar"
    - "gradle jar"
  artifacts:
    untracked: true
    paths:
      - binaries/
      - target/*.jar

gradle-javadoc:
  when: manual
  stage: pack
  script: 
    - echo "Documentation"
    - "gradle javadoc"
  artifacts:
    untracked: true
    paths:
      - doc/*.html