# Compiled source
*.class
*.so
/build/
/bin/

# Log file & directory
*.log
joystickDump.txt
changelog.txt
/analyzerData/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#IDE file
*.idea
*.project
*.classpath
*.eclipse
/.gradle/

# Keep external libs
!lib/**

