# Compiled source
*.class
*.so
/build/
/bin/

# Log file & directory
*.log
joystickDump.txt
changelog.txt
/analyzerData/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#IDE file
*.idea
*.project
*.classpath
*.eclipse
/.settings/
/.gradle/

#Generated data
/assets/RGE/
/assets/DrivingTasks/Projects/RGE

# Keep external libs
!lib/**
!.gitkeep

